openapi: 3.0.3
info:
  contact: {}
  description: |
    This is the ClickUp API Reference where you can learn about specific endpoints and parameters in detail.

    Browse the available endpoints using the sidebar on the left.

    **Not sure where to begin?**
    [Get Started with the ClickUp API](https://clickup.com/api)
  title: ClickUp API Reference
  version: "2.0"
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
  x-konfig-has-globally-required-security: true
  x-konfig-uses-multipart-form-data: true
servers:
- description: ClickUp
  url: https://api.clickup.com/api/v2
- description: Mock Server
  url: https://a00fb6e0-339c-4201-972f-503b9932d17a.remockly.com
security:
- Authorization Token: []
tags:
- name: Time Tracking
- name: Views
- name: Guests
- name: Lists
- name: Comments
- name: Goals
- name: Tasks
- name: Tags
- name: Task Checklists
- name: Folders
- name: Spaces
- name: Task Relationships
- name: Teams - User Groups
- name: Time Tracking (Legacy)
- name: Users
- name: Webhooks
- name: Authorization
- name: Custom Fields
- name: Teams - Workspaces
- name: Members
- name: Task Templates
- name: Attachments
- name: Custom Task Types
- name: Roles
- name: Shared Hierarchy
paths:
  /task/{task_id}/attachment:
    post:
      deprecated: false
      description: |-
        Upload a file to a task as an attachment. \
         \
        ***Note:** This request uses multipart/form-data as the content type.*
      operationId: Attachments_uploadFileToTaskAsAttachment
      parameters:
      - description: ""
        explode: false
        in: path
        name: task_id
        required: true
        schema:
          example: 9hv
          type: string
          x-examples:
          - 9hv
          x-konfig-original-example: 9hv
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-attachment-post-parameters-0-schema
        style: simple
      - description: "If you want to reference a task by it's custom task id, this\
          \ value must be `true`."
        explode: true
        in: query
        name: custom_task_ids
        required: false
        schema:
          example: true
          type: boolean
          x-examples:
          - true
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-attachment-post-parameters-1-schema
        style: form
      - description: |-
          Only used when the `custom_task_ids` parameter is set to `true`.\
           \
          For example: `custom_task_ids=true&team_id=123`.
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          example: 123
          type: number
          x-examples:
          - 123
          x-konfig-original-example: 123
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-attachment-post-parameters-2-schema
        style: form
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AttachmentsUploadFileToTaskAsAttachmentRequest'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                title: image.png
                version: "0"
                id: ac434d4e-8b1c-4571-951b-866b6d9f2ee6.png
                date: 1569988578766
                extension: png
                thumbnail_small: https://attachments-public.clickup.com/ac434d4e-8b1c-4571-951b-866b6d9f2ee6/logo_small.png
                thumbnail_large: https://attachments-public.clickup.com/ac434d4e-8b1c-4571-951b-866b6d9f2ee6/logo_small.png
                url: https://attachments-public.clickup.com/ac434d4e-8b1c-4571-951b-866b6d9f2ee6/logo_small.png
              schema:
                $ref: '#/components/schemas/CreateTaskAttachmentresponse'
              x-konfig-original-example:
                title: image.png
                version: "0"
                id: ac434d4e-8b1c-4571-951b-866b6d9f2ee6.png
                date: 1569988578766
                extension: png
                thumbnail_small: https://attachments-public.clickup.com/ac434d4e-8b1c-4571-951b-866b6d9f2ee6/logo_small.png
                thumbnail_large: https://attachments-public.clickup.com/ac434d4e-8b1c-4571-951b-866b6d9f2ee6/logo_small.png
                url: https://attachments-public.clickup.com/ac434d4e-8b1c-4571-951b-866b6d9f2ee6/logo_small.png
          description: ""
      summary: Create Task Attachment
      tags:
      - Attachments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--task-task_id-attachment
      x-content-type: multipart/form-data
      x-accepts: application/json
  /oauth/token:
    post:
      deprecated: false
      description: |
        These are the routes for authing the API and going through the [OAuth flow](https://clickup.com/api).\
         \
        Applications utilizing a personal API token don't use this endpoint.\
         \
        ***Note:** OAuth tokens are not supported when using the [**Try It** feature](https://clickup.com/api) of our Reference docs. You can't try this endpoint from your web browser.*
      operationId: Authorization_getAccessToken
      parameters:
      - description: Oauth app client id
        explode: true
        in: query
        name: client_id
        required: true
        schema:
          type: string
        style: form
      - description: Oauth app client secret
        explode: true
        in: query
        name: client_secret
        required: true
        schema:
          type: string
        style: form
      - description: Code given in redirect url
        explode: true
        in: query
        name: code
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                access_token: access token
              schema:
                $ref: '#/components/schemas/GetAccessTokenresponse'
              x-konfig-original-example:
                access_token: access token
          description: ""
      security: []
      summary: Get Access Token
      tags:
      - Authorization
      x-hideTryItPanel: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--oauth-token
      x-accepts: application/json
  /user:
    get:
      deprecated: false
      description: View the details of the authenticated user's ClickUp account.
      operationId: Authorization_viewAccountDetails
      parameters: []
      responses:
        "200":
          content:
            application/json:
              example:
                user:
                  id: 123
                  username: John Doe
                  color: '#000000'
                  profilePicture: https://clickup.com/avatar.jpg
              schema:
                $ref: '#/components/schemas/GetAuthorizedUserresponse'
              x-konfig-original-example:
                user:
                  id: 123
                  username: John Doe
                  color: '#000000'
                  profilePicture: https://clickup.com/avatar.jpg
          description: ""
      summary: Get Authorized User
      tags:
      - Authorization
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--user
      x-accepts: application/json
  /team:
    get:
      deprecated: false
      description: View the Workspaces available to the authenticated user.
      operationId: Authorization_getWorkspaceList
      parameters: []
      responses:
        "200":
          content:
            application/json:
              example:
                teams:
                - id: "1234"
                  name: My ClickUp Workspace
                  color: '#000000'
                  avatar: https://clickup.com/avatar.jpg
                  members:
                  - user:
                      id: 123
                      username: John Doe
                      color: '#000000'
                      profilePicture: https://clickup.com/avatar.jpg
              schema:
                $ref: '#/components/schemas/GetAuthorizedTeamsresponse'
              x-konfig-original-example:
                teams:
                - id: "1234"
                  name: My ClickUp Workspace
                  color: '#000000'
                  avatar: https://clickup.com/avatar.jpg
                  members:
                  - user:
                      id: 123
                      username: John Doe
                      color: '#000000'
                      profilePicture: https://clickup.com/avatar.jpg
          description: ""
      summary: Get Authorized Teams (Workspaces)
      tags:
      - Authorization
      - Teams - Workspaces
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--team
      x-accepts: application/json
  /task/{task_id}/checklist:
    post:
      deprecated: false
      description: Add a new checklist to a task.
      operationId: TaskChecklists_createNewChecklist
      parameters:
      - description: ""
        explode: false
        in: path
        name: task_id
        required: true
        schema:
          example: 9hz
          type: string
          x-examples:
          - 9hz
          x-konfig-original-example: 9hz
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-checklist-post-parameters-0-schema
        style: simple
      - description: "If you want to reference a task by it's custom task id, this\
          \ value must be `true`."
        explode: true
        in: query
        name: custom_task_ids
        required: false
        schema:
          example: true
          type: boolean
          x-examples:
          - true
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-checklist-post-parameters-1-schema
        style: form
      - description: |-
          Only used when the `custom_task_ids` parameter is set to `true`.\
           \
          For example: `custom_task_ids=true&team_id=123`.
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          example: 123
          type: number
          x-examples:
          - 123
          x-konfig-original-example: 123
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-checklist-post-parameters-2-schema
        style: form
      requestBody:
        content:
          application/json:
            example:
              name: Checklist
            schema:
              $ref: '#/components/schemas/CreateChecklistrequest'
            x-konfig-original-example:
              name: Checklist
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                checklist:
                  id: b955c4dc-b8a8-48d8-a0c6-b4200788a683
                  task_id: 9hz
                  name: Checklist
                  orderindex: 0
                  resolved: 0
                  unresolved: 0
                  items: []
              schema:
                $ref: '#/components/schemas/CreateChecklistresponse'
              x-konfig-original-example:
                checklist:
                  id: b955c4dc-b8a8-48d8-a0c6-b4200788a683
                  task_id: 9hz
                  name: Checklist
                  orderindex: 0
                  resolved: 0
                  unresolved: 0
                  items: []
          description: ""
      summary: Create Checklist
      tags:
      - Task Checklists
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--task-task_id-checklist
      x-content-type: application/json
      x-accepts: application/json
  /checklist/{checklist_id}:
    delete:
      deprecated: false
      description: Delete a checklist from a task.
      operationId: TaskChecklists_removeChecklist
      parameters:
      - description: b8a8-48d8-a0c6-b4200788a683 (uuid)
        explode: false
        in: path
        name: checklist_id
        required: true
        schema:
          example: b955c4dc
          type: string
          x-examples:
          - b955c4dc
          x-konfig-original-example: b955c4dc
          x-konfig-generated-schema: konfig-generated-schema-paths--checklist-checklist_id-delete-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              example: {}
              schema:
                $ref: '#/components/schemas/TaskChecklistsRemoveChecklistResponse'
              x-konfig-original-example: {}
          description: ""
      summary: Delete Checklist
      tags:
      - Task Checklists
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--checklist-checklist_id
      x-accepts: application/json
    put:
      deprecated: false
      description: "Rename a task checklist, or reorder a checklist so it appears\
        \ above or below other checklists on a task."
      operationId: TaskChecklists_updateChecklist
      parameters:
      - description: b8a8-48d8-a0c6-b4200788a683 (uuid)
        explode: false
        in: path
        name: checklist_id
        required: true
        schema:
          example: b955c4dc
          type: string
          x-examples:
          - b955c4dc
          x-konfig-original-example: b955c4dc
          x-konfig-generated-schema: konfig-generated-schema-paths--checklist-checklist_id-put-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Updated Checklist
              position: 1
            schema:
              $ref: '#/components/schemas/EditChecklistrequest'
            x-konfig-original-example:
              name: Updated Checklist
              position: 1
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskChecklistsUpdateChecklistResponse'
          description: ""
      summary: Edit Checklist
      tags:
      - Task Checklists
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--checklist-checklist_id
      x-content-type: application/json
      x-accepts: application/json
  /checklist/{checklist_id}/checklist_item:
    post:
      deprecated: false
      description: Add a line item to a task checklist.
      operationId: TaskChecklists_addLineItem
      parameters:
      - description: b8a8-48d8-a0c6-b4200788a683 (uuid)
        explode: false
        in: path
        name: checklist_id
        required: true
        schema:
          example: b955c4dc
          type: string
          x-examples:
          - b955c4dc
          x-konfig-original-example: b955c4dc
          x-konfig-generated-schema: konfig-generated-schema-paths--checklist-checklist_id-checklist_item-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Checklist Item
              assignee: 183
            schema:
              $ref: '#/components/schemas/CreateChecklistItemrequest'
            x-konfig-original-example:
              name: Checklist Item
              assignee: 183
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                checklist:
                  id: b955c4dc-b8a8-48d8-a0c6-b4200788a683X
                  task_id: 9hv
                  name: Checklist
                  date_created: "1567711563204"
                  orderindex: 0
                  resolved: 0
                  unresolved: 1
                  items:
                  - id: 21e08dc8-e491-47f5-9fd8-d1dc4cedcc6f
                    name: Checklist Item
                    orderindex: 0
                    assignee:
                      id: 183
                      username: John Doe
                      email: example@email.com
                      color: '#827718'
                      initials: JD
                      profilePicture: https://dev-attachments-public.clickup.com/profilePictures/183_nx1.jpg
                    resolved: false
                    parent: null
                    date_created: "1567711566859"
                    children: []
              schema:
                $ref: '#/components/schemas/CreateChecklistItemresponse'
              x-konfig-original-example:
                checklist:
                  id: b955c4dc-b8a8-48d8-a0c6-b4200788a683X
                  task_id: 9hv
                  name: Checklist
                  date_created: "1567711563204"
                  orderindex: 0
                  resolved: 0
                  unresolved: 1
                  items:
                  - id: 21e08dc8-e491-47f5-9fd8-d1dc4cedcc6f
                    name: Checklist Item
                    orderindex: 0
                    assignee:
                      id: 183
                      username: John Doe
                      email: example@email.com
                      color: '#827718'
                      initials: JD
                      profilePicture: https://dev-attachments-public.clickup.com/profilePictures/183_nx1.jpg
                    resolved: false
                    date_created: "1567711566859"
                    children: []
          description: ""
      summary: Create Checklist Item
      tags:
      - Task Checklists
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--checklist-checklist_id-checklist_item
      x-content-type: application/json
      x-accepts: application/json
  /checklist/{checklist_id}/checklist_item/{checklist_item_id}:
    delete:
      deprecated: false
      description: Delete a line item from a task checklist.
      operationId: TaskChecklists_removeChecklistItem
      parameters:
      - description: b8a8-48d8-a0c6-b4200788a683 (uuid)
        explode: false
        in: path
        name: checklist_id
        required: true
        schema:
          example: b955c4dc
          type: string
          x-examples:
          - b955c4dc
          x-konfig-original-example: b955c4dc
          x-konfig-generated-schema: konfig-generated-schema-paths--checklist-checklist_id-checklist_item-checklist_item_id-delete-parameters-0-schema
        style: simple
      - description: e491-47f5-9fd8-d1dc4cedcc6f (uuid)
        explode: false
        in: path
        name: checklist_item_id
        required: true
        schema:
          example: 21e08dc8
          type: string
          x-examples:
          - 21e08dc8
          x-konfig-original-example: 21e08dc8
          x-konfig-generated-schema: konfig-generated-schema-paths--checklist-checklist_id-checklist_item-checklist_item_id-delete-parameters-1-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              example: {}
              schema:
                $ref: '#/components/schemas/TaskChecklistsRemoveChecklistItemResponse'
              x-konfig-original-example: {}
          description: ""
      summary: Delete Checklist Item
      tags:
      - Task Checklists
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--checklist-checklist_id-checklist_item-checklist_item_id
      x-accepts: application/json
    put:
      deprecated: false
      description: |-
        Update an individual line item in a task checklist. \
         \
        You can rename it, set the assignee, mark it as resolved, or nest it under another checklist item.
      operationId: TaskChecklists_updateChecklistItem
      parameters:
      - description: b8a8-48d8-a0c6-b4200788a683 (uuid)
        explode: false
        in: path
        name: checklist_id
        required: true
        schema:
          example: b955c4dc
          type: string
          x-examples:
          - b955c4dc
          x-konfig-original-example: b955c4dc
          x-konfig-generated-schema: konfig-generated-schema-paths--checklist-checklist_id-checklist_item-checklist_item_id-put-parameters-0-schema
        style: simple
      - description: e491-47f5-9fd8-d1dc4cedcc6f (uuid)
        explode: false
        in: path
        name: checklist_item_id
        required: true
        schema:
          example: 21e08dc8
          type: string
          x-examples:
          - 21e08dc8
          x-konfig-original-example: 21e08dc8
          x-konfig-generated-schema: konfig-generated-schema-paths--checklist-checklist_id-checklist_item-checklist_item_id-put-parameters-1-schema
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Updated Checklist Item
              assignee: null
              resolved: true
              parent: null
            schema:
              $ref: '#/components/schemas/EditChecklistItemrequest'
            x-konfig-original-example:
              name: Updated Checklist Item
              resolved: true
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                checklist:
                  id: b955c4dc-b8a8-48d8-a0c6-b4200788a683X
                  task_id: 9hv
                  name: Checklist
                  date_created: "1567711563204"
                  orderindex: 0
                  resolved: 1
                  unresolved: 0
                  items:
                  - id: 21e08dc8-e491-47f5-9fd8-d1dc4cedcc6fX
                    name: Updated Checklist Item
                    orderindex: 0
                    assignee: null
                    resolved: true
                    parent: null
                    date_created: "1567711566859"
                    children: []
              schema:
                $ref: '#/components/schemas/EditChecklistItemresponse'
              x-konfig-original-example:
                checklist:
                  id: b955c4dc-b8a8-48d8-a0c6-b4200788a683X
                  task_id: 9hv
                  name: Checklist
                  date_created: "1567711563204"
                  orderindex: 0
                  resolved: 1
                  unresolved: 0
                  items:
                  - id: 21e08dc8-e491-47f5-9fd8-d1dc4cedcc6fX
                    name: Updated Checklist Item
                    orderindex: 0
                    resolved: true
                    date_created: "1567711566859"
                    children: []
          description: ""
      summary: Edit Checklist Item
      tags:
      - Task Checklists
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--checklist-checklist_id-checklist_item-checklist_item_id
      x-content-type: application/json
      x-accepts: application/json
  /task/{task_id}/comment:
    get:
      deprecated: false
      description: |-
        View task comments. \
         \
        If you do not include the `start` and `start_id` parameters, this endpoint will return the most recent 25 comments.\
         \
        Use the `start` and `start id` parameters of the oldest comment to retrieve the next 25 comments.
      operationId: Comments_getTaskComments
      parameters:
      - description: ""
        explode: false
        in: path
        name: task_id
        required: true
        schema:
          example: 9hz
          type: string
          x-examples:
          - 9hz
          x-konfig-original-example: 9hz
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-comment-get-parameters-0-schema
        style: simple
      - description: "If you want to reference a task by it's custom task id, this\
          \ value must be `true`."
        explode: true
        in: query
        name: custom_task_ids
        required: false
        schema:
          example: true
          type: boolean
          x-examples:
          - true
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-comment-get-parameters-1-schema
        style: form
      - description: |-
          Only used when the `custom_task_ids` parameter is set to `true`.\
           \
          For example: `custom_task_ids=true&team_id=123`.
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          example: 123
          type: number
          x-examples:
          - 123
          x-konfig-original-example: 123
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-comment-get-parameters-2-schema
        style: form
      - description: Enter the `date` of a task comment using Unix time in milliseconds.
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: Enter the Comment `id` of a task comment.
        explode: true
        in: query
        name: start_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                comments:
                - id: "458"
                  comment:
                  - text: Task comment content
                  comment_text: Task comment content
                  user:
                    id: 183
                    username: John Doe
                    initials: JD
                    email: johndoe@gmail.com
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  resolved: false
                  assignee:
                    id: 183
                    username: John Doe
                    initials: JD
                    email: johndoe@gmail.com
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  assigned_by:
                    id: 183
                    username: John Doe
                    initials: JD
                    email: johndoe@gmail.com
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  reactions: []
                  date: "1568036964079"
              schema:
                $ref: '#/components/schemas/GetTaskCommentsresponse'
              x-konfig-original-example:
                comments:
                - id: "458"
                  comment:
                  - text: Task comment content
                  comment_text: Task comment content
                  user:
                    id: 183
                    username: John Doe
                    initials: JD
                    email: johndoe@gmail.com
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  resolved: false
                  assignee:
                    id: 183
                    username: John Doe
                    initials: JD
                    email: johndoe@gmail.com
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  assigned_by:
                    id: 183
                    username: John Doe
                    initials: JD
                    email: johndoe@gmail.com
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  reactions: []
                  date: "1568036964079"
          description: ""
      summary: Get Task Comments
      tags:
      - Comments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--task-task_id-comment
      x-accepts: application/json
    post:
      deprecated: false
      description: Add a new comment to a task.
      operationId: Comments_createNewTaskComment
      parameters:
      - description: ""
        explode: false
        in: path
        name: task_id
        required: true
        schema:
          example: 9hz
          type: string
          x-examples:
          - 9hz
          x-konfig-original-example: 9hz
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-comment-post-parameters-0-schema
        style: simple
      - description: "If you want to reference a task by it's custom task id, this\
          \ value must be `true`."
        explode: true
        in: query
        name: custom_task_ids
        required: false
        schema:
          example: true
          type: boolean
          x-examples:
          - true
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-comment-post-parameters-1-schema
        style: form
      - description: |-
          Only used when the `custom_task_ids` parameter is set to `true`.\
           \
          For example: `custom_task_ids=true&team_id=123`.
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          example: 123
          type: number
          x-examples:
          - 123
          x-konfig-original-example: 123
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-comment-post-parameters-2-schema
        style: form
      requestBody:
        content:
          application/json:
            example:
              comment_text: Task comment content
              assignee: 183
              notify_all: true
            schema:
              $ref: '#/components/schemas/CreateTaskCommentrequest'
            x-konfig-original-example:
              comment_text: Task comment content
              assignee: 183
              notify_all: true
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                id: 458X
                hist_id: "26508"
                date: 1568036964079
              schema:
                $ref: '#/components/schemas/CreateTaskCommentresponse'
              x-konfig-original-example:
                id: 458X
                hist_id: "26508"
                date: 1568036964079
          description: ""
      summary: Create Task Comment
      tags:
      - Comments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--task-task_id-comment
      x-content-type: application/json
      x-accepts: application/json
  /view/{view_id}/comment:
    get:
      deprecated: false
      description: |-
        View comments from a Chat view. \
         \
        If you do not include the `start` and `start_id` parameters, this endpoint will return the most recent 25 comments.\
         \
        Use the `start` and `start id` parameters of the oldest comment to retrieve the next 25 comments.
      operationId: Comments_getViewComments
      parameters:
      - description: 105 (string)
        explode: false
        in: path
        name: view_id
        required: true
        schema:
          example: 3c
          type: string
          x-examples:
          - 3c
          x-konfig-original-example: 3c
          x-konfig-generated-schema: konfig-generated-schema-paths--view-view_id-comment-get-parameters-0-schema
        style: simple
      - description: Enter the `date` of a Chat view comment using Unix time in milliseconds.
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: Enter the Comment `id` of a Chat view comment.
        explode: true
        in: query
        name: start_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                comments:
                - id: "459"
                  comment:
                  - text: View comment content
                  comment_text: View comment content
                  user:
                    id: 183
                    username: John Doe
                    initials: JD
                    email: johndoe@gmail.com
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  resolved: false
                  assignee: null
                  assigned_by: null
                  reactions: []
                  date: "1568036964079"
              schema:
                $ref: '#/components/schemas/GetChatViewCommentsresponse'
              x-konfig-original-example:
                comments:
                - id: "459"
                  comment:
                  - text: View comment content
                  comment_text: View comment content
                  user:
                    id: 183
                    username: John Doe
                    initials: JD
                    email: johndoe@gmail.com
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  resolved: false
                  reactions: []
                  date: "1568036964079"
          description: ""
      summary: Get Chat View Comments
      tags:
      - Comments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--view-view_id-comment
      x-accepts: application/json
    post:
      deprecated: false
      description: Add a new comment to a Chat view.
      operationId: Comments_createChatViewComment
      parameters:
      - description: 105 (string)
        explode: false
        in: path
        name: view_id
        required: true
        schema:
          example: 3c
          type: string
          x-examples:
          - 3c
          x-konfig-original-example: 3c
          x-konfig-generated-schema: konfig-generated-schema-paths--view-view_id-comment-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            example:
              comment_text: View comment content
              notify_all: true
            schema:
              $ref: '#/components/schemas/CreateChatViewCommentrequest'
            x-konfig-original-example:
              comment_text: View comment content
              notify_all: true
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                id: 459X
                hist_id: 0a45e16e-4e2f-4a9e-99ec-3cf520b87eae
                date: 1568037065216
              schema:
                $ref: '#/components/schemas/CreateChatViewCommentresponse'
              x-konfig-original-example:
                id: 459X
                hist_id: 0a45e16e-4e2f-4a9e-99ec-3cf520b87eae
                date: 1568037065216
          description: ""
      summary: Create Chat View Comment
      tags:
      - Comments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--view-view_id-comment
      x-content-type: application/json
      x-accepts: application/json
  /list/{list_id}/comment:
    get:
      deprecated: false
      description: |-
        View the comments added to a List. \
         \
        If you do not include the `start` and `start_id` parameters, this endpoint will return the most recent 25 comments.\
         \
        Use the `start` and `start id` parameters of the oldest comment to retrieve the next 25 comments.
      operationId: Comments_getListComments
      parameters:
      - description: ""
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          example: 124
          type: number
          x-examples:
          - 124
          x-konfig-original-example: 124
          x-konfig-generated-schema: konfig-generated-schema-paths--list-list_id-comment-get-parameters-0-schema
        style: simple
      - description: Enter the `date` of a List info comment using Unix time in milliseconds.
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: Enter the Comment `id` of a List info comment.
        explode: true
        in: query
        name: start_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                comments:
                - id: "462"
                  comment:
                  - text: List comment content
                  comment_text: List comment content
                  user:
                    id: 183
                    username: John Doe
                    initials: JD
                    email: johndoe@gmail.com
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  resolved: false
                  assignee:
                    id: 183
                    username: John Doe
                    initials: JD
                    email: johndoe@gmail.com
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  assigned_by:
                    id: 183
                    username: John Doe
                    initials: JD
                    email: johndoe@gmail.com
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  reactions: []
                  date: "1568036964079"
              schema:
                $ref: '#/components/schemas/GetListCommentsresponse'
              x-konfig-original-example:
                comments:
                - id: "462"
                  comment:
                  - text: List comment content
                  comment_text: List comment content
                  user:
                    id: 183
                    username: John Doe
                    initials: JD
                    email: johndoe@gmail.com
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  resolved: false
                  assignee:
                    id: 183
                    username: John Doe
                    initials: JD
                    email: johndoe@gmail.com
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  assigned_by:
                    id: 183
                    username: John Doe
                    initials: JD
                    email: johndoe@gmail.com
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  reactions: []
                  date: "1568036964079"
          description: ""
      summary: Get List Comments
      tags:
      - Comments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--list-list_id-comment
      x-accepts: application/json
    post:
      deprecated: false
      description: Add a comment to a List.
      operationId: Comments_addToListComment
      parameters:
      - description: ""
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          example: 124
          type: number
          x-examples:
          - 124
          x-konfig-original-example: 124
          x-konfig-generated-schema: konfig-generated-schema-paths--list-list_id-comment-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            example:
              comment_text: List comment content
              assignee: 183
              notify_all: true
            schema:
              $ref: '#/components/schemas/CreateListCommentrequest'
            x-konfig-original-example:
              comment_text: List comment content
              assignee: 183
              notify_all: true
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                id: 462X
                hist_id: 5bbea9ad-7cc3-4038-a8bb-a89ac1337c08
                date: 1568037341249
              schema:
                $ref: '#/components/schemas/CreateListCommentresponse'
              x-konfig-original-example:
                id: 462X
                hist_id: 5bbea9ad-7cc3-4038-a8bb-a89ac1337c08
                date: 1568037341249
          description: ""
      summary: Create List Comment
      tags:
      - Comments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--list-list_id-comment
      x-content-type: application/json
      x-accepts: application/json
  /comment/{comment_id}:
    delete:
      deprecated: false
      description: Delete a task comment.
      operationId: Comments_deleteTaskComment
      parameters:
      - description: ""
        explode: false
        in: path
        name: comment_id
        required: true
        schema:
          example: 456
          type: number
          x-examples:
          - 456
          x-konfig-original-example: 456
          x-konfig-generated-schema: konfig-generated-schema-paths--comment-comment_id-delete-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              example: {}
              schema:
                $ref: '#/components/schemas/CommentsDeleteTaskCommentResponse'
              x-konfig-original-example: {}
          description: ""
      summary: Delete Comment
      tags:
      - Comments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--comment-comment_id
      x-accepts: application/json
    put:
      deprecated: false
      description: "Replace the content of a task commment, assign a comment, and\
        \ mark a comment as resolved."
      operationId: Comments_updateTaskComment
      parameters:
      - description: ""
        explode: false
        in: path
        name: comment_id
        required: true
        schema:
          example: 456
          type: number
          x-examples:
          - 456
          x-konfig-original-example: 456
          x-konfig-generated-schema: konfig-generated-schema-paths--comment-comment_id-put-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            example:
              comment_text: Updated comment content
              assignee: 183
              resolved: true
            schema:
              $ref: '#/components/schemas/UpdateCommentrequest'
            x-konfig-original-example:
              comment_text: Updated comment content
              assignee: 183
              resolved: true
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              example: {}
              schema:
                $ref: '#/components/schemas/CommentsUpdateTaskCommentResponse'
              x-konfig-original-example: {}
          description: ""
      summary: Update Comment
      tags:
      - Comments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--comment-comment_id
      x-content-type: application/json
      x-accepts: application/json
  /list/{list_id}/field:
    get:
      deprecated: false
      description: View the Custom Fields available on tasks in a specific List.
      operationId: CustomFields_getListFields
      parameters:
      - description: ""
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          example: 123
          type: number
          x-examples:
          - 123
          x-konfig-original-example: 123
          x-konfig-generated-schema: konfig-generated-schema-paths--list-list_id-field-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccessibleCustomFieldsresponse'
          description: ""
      summary: Get Accessible Custom Fields
      tags:
      - Custom Fields
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--list-list_id-field
      x-accepts: application/json
  /task/{task_id}/field/{field_id}:
    delete:
      deprecated: false
      description: Remove the data from a Custom Field on a task. This does not delete
        the option from the Custom Field.
      operationId: CustomFields_removeFieldValue
      parameters:
      - description: ""
        explode: false
        in: path
        name: task_id
        required: true
        schema:
          example: 9hv
          type: string
          x-examples:
          - 9hv
          x-konfig-original-example: 9hv
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-field-field_id-delete-parameters-0-schema
        style: simple
      - description: b8a8-48d8-a0c6-b4200788a683 (uuid)
        explode: false
        in: path
        name: field_id
        required: true
        schema:
          example: b955c4dc
          type: string
          x-examples:
          - b955c4dc
          x-konfig-original-example: b955c4dc
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-field-field_id-delete-parameters-1-schema
        style: simple
      - description: "If you want to reference a task by it's custom task id, this\
          \ value must be `true`."
        explode: true
        in: query
        name: custom_task_ids
        required: false
        schema:
          example: true
          type: boolean
          x-examples:
          - true
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-field-field_id-delete-parameters-2-schema
        style: form
      - description: |-
          Only used when the `custom_task_ids` parameter is set to `true`.\
           \
          For example: `custom_task_ids=true&team_id=123`.
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          example: 123
          type: number
          x-examples:
          - 123
          x-konfig-original-example: 123
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-field-field_id-delete-parameters-3-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              example: {}
              schema:
                $ref: '#/components/schemas/CustomFieldsRemoveFieldValueResponse'
              x-konfig-original-example: {}
          description: ""
      summary: Remove Custom Field Value
      tags:
      - Custom Fields
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--task-task_id-field-field_id
      x-accepts: application/json
    post:
      deprecated: false
      description: |-
        Add data to a Custom field on a task. \
         \
        You'll need to know the `task_id` of the task you want to update, and the universal unique identifier (UUID) `field_id` of the Custom Field you want to set. \
         \
        You can use [Get Accessible Custom Fields](https://clickup.com/api) or the [Get Task](https://clickup.com/api) endpoint to find the `field_id`.
      operationId: CustomFields_setFieldValue
      parameters:
      - description: Enter the task ID of the task you want to update.
        explode: false
        in: path
        name: task_id
        required: true
        schema:
          example: 9hv
          type: string
          x-examples:
          - 9hv
          x-konfig-original-example: 9hv
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-field-field_id-post-parameters-0-schema
        style: simple
      - description: Enter the universal unique identifier (UUID) of the Custom Field
          you want to set.
        explode: false
        in: path
        name: field_id
        required: true
        schema:
          example: b955c4dc
          type: string
          x-examples:
          - b955c4dc
          x-konfig-original-example: b955c4dc
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-field-field_id-post-parameters-1-schema
        style: simple
      - description: "If you want to reference a task by its Custom Task ID, this\
          \ value must be `true`."
        explode: true
        in: query
        name: custom_task_ids
        required: false
        schema:
          example: true
          type: boolean
          x-examples:
          - true
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-field-field_id-post-parameters-2-schema
        style: form
      - description: |-
          Only used when the `custom_task_ids` parameter is set to `true`.\
           \
          For example: `custom_task_ids=true&team_id=123`.
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          example: 123
          type: number
          x-examples:
          - 123
          x-konfig-original-example: 123
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-field-field_id-post-parameters-3-schema
        style: form
      requestBody:
        content:
          application/json:
            examples:
              URL Custom Field:
                value:
                  value: https://clickup.com/api
              Dropdown Custom Field:
                value:
                  value: uuid1234
              Email Custom Field:
                value:
                  value: user@company.com
              Phone Custom Field:
                value:
                  value: +1 201 555 0123
              Date Custom Field:
                value:
                  value: 1667367645000
                  value_options:
                    time: true
              Short or Long Text Custom Field:
                value:
                  value: This is short or long text in a Custom Field.
              Number Custom Field:
                value:
                  value: -28
              Money Custom Field:
                value:
                  value: 8000
              Task Relationship Custom Field:
                value:
                  value:
                    add:
                    - abcd1234
                    - efghi5678
                    rem:
                    - jklm9876
                    - yuiop5678
              People Custom Field:
                value:
                  value:
                    add:
                    - 123
                    - 456
                    rem:
                    - 987
                    - 765
              Emoji (Rating) Custom Field:
                value:
                  value: 4
              Manual Progress Custom Field:
                value:
                  value:
                    current: 20
              Label Custom Field:
                value:
                  value:
                  - uuid1234
                  - uuid9876
              Location Custom Field:
                value:
                  value:
                    location:
                      lat: -28.016667
                      lng: 153.4
                    formatted_address: "Gold Coast QLD, Australia"
            schema:
              $ref: '#/components/schemas/SetCustomFieldValuerequest'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              example: {}
              schema:
                $ref: '#/components/schemas/CustomFieldsSetFieldValueResponse'
              x-konfig-original-example: {}
          description: ""
      summary: Set Custom Field Value
      tags:
      - Custom Fields
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--task-task_id-field-field_id
      x-content-type: application/json
      x-accepts: application/json
  /task/{task_id}/dependency:
    delete:
      deprecated: false
      description: Remove the dependency relationship between two or more tasks.
      operationId: TaskRelationships_removeDependency
      parameters:
      - description: ""
        explode: false
        in: path
        name: task_id
        required: true
        schema:
          example: 9hv
          type: string
          x-examples:
          - 9hv
          x-konfig-original-example: 9hv
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-dependency-delete-parameters-0-schema
        style: simple
      - description: ""
        explode: true
        in: query
        name: depends_on
        required: true
        schema:
          example: 9hz
          type: string
          x-examples:
          - 9hz
          x-konfig-original-example: 9hz
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-dependency-delete-parameters-1-schema
        style: form
      - description: ""
        explode: true
        in: query
        name: dependency_of
        required: true
        schema:
          example: 9hz
          type: string
          x-examples:
          - 9hz
          x-konfig-original-example: 9hz
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-dependency-delete-parameters-2-schema
        style: form
      - description: "If you want to reference a task by it's custom task id, this\
          \ value must be `true`."
        explode: true
        in: query
        name: custom_task_ids
        required: false
        schema:
          example: true
          type: boolean
          x-examples:
          - true
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-dependency-delete-parameters-3-schema
        style: form
      - description: |-
          Only used when the `custom_task_ids` parameter is set to `true`.\
           \
          For example: `custom_task_ids=true&team_id=123`.
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          example: 123
          type: number
          x-examples:
          - 123
          x-konfig-original-example: 123
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-dependency-delete-parameters-4-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              example: {}
              schema:
                $ref: '#/components/schemas/TaskRelationshipsRemoveDependencyResponse'
              x-konfig-original-example: {}
          description: ""
      summary: Delete Dependency
      tags:
      - Task Relationships
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--task-task_id-dependency
      x-accepts: application/json
    post:
      deprecated: false
      description: Set a task as waiting on or blocking another task.
      operationId: TaskRelationships_addDependency
      parameters:
      - description: This is the task which is waiting on or blocking another task.
        explode: false
        in: path
        name: task_id
        required: true
        schema:
          example: 9hv
          type: string
          x-examples:
          - 9hv
          x-konfig-original-example: 9hv
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-dependency-post-parameters-0-schema
        style: simple
      - description: "If you want to reference a task by it's custom task id, this\
          \ value must be `true`."
        explode: true
        in: query
        name: custom_task_ids
        required: false
        schema:
          example: true
          type: boolean
          x-examples:
          - true
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-dependency-post-parameters-1-schema
        style: form
      - description: |-
          Only used when the `custom_task_ids` parameter is set to `true`.

          For example: `custom_task_ids=true&team_id=123`.
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          example: 123
          type: number
          x-examples:
          - 123
          x-konfig-original-example: 123
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-dependency-post-parameters-2-schema
        style: form
      requestBody:
        content:
          application/json:
            example:
              depends_on: 9hw
            schema:
              $ref: '#/components/schemas/AddDependencyrequest'
            x-konfig-original-example:
              depends_on: 9hw
        description: |-
          Use the `depends_on` parameter in the request body to specify the task that must be completed before the task in the path parameter.\
           \
          Use the `dependency_of` parameter in the request body to specify the task that's waiting for the task in the path parameter to be completed.\
           \
          You can only use one per request.
        required: true
      responses:
        "200":
          content:
            application/json:
              example: {}
              schema:
                $ref: '#/components/schemas/TaskRelationshipsAddDependencyResponse'
              x-konfig-original-example: {}
          description: ""
      summary: Add Dependency
      tags:
      - Task Relationships
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--task-task_id-dependency
      x-content-type: application/json
      x-accepts: application/json
  /task/{task_id}/link/{links_to}:
    delete:
      deprecated: false
      description: Remove the link between two tasks.
      operationId: TaskRelationships_removeLinkBetweenTasks
      parameters:
      - description: ""
        explode: false
        in: path
        name: task_id
        required: true
        schema:
          example: 9hv
          type: string
          x-examples:
          - 9hv
          x-konfig-original-example: 9hv
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-link-links_to-delete-parameters-0-schema
        style: simple
      - description: ""
        explode: false
        in: path
        name: links_to
        required: true
        schema:
          example: 9hz
          type: string
          x-examples:
          - 9hz
          x-konfig-original-example: 9hz
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-link-links_to-delete-parameters-1-schema
        style: simple
      - description: "If you want to reference a task by it's custom task id, this\
          \ value must be `true`."
        explode: true
        in: query
        name: custom_task_ids
        required: false
        schema:
          example: true
          type: boolean
          x-examples:
          - true
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-link-links_to-delete-parameters-2-schema
        style: form
      - description: |-
          Only used when the `custom_task_ids` parameter is set to `true`.\
           \
          For example: `custom_task_ids=true&team_id=123`.
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          example: 123
          type: number
          x-examples:
          - 123
          x-konfig-original-example: 123
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-link-links_to-delete-parameters-3-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                task:
                  tags: []
                  id: 9hvX
                  name: Task Name
                  status:
                    status: in progress
                    color: '#d3d3d3'
                    orderindex: 1
                    type: custom
                  orderindex: "1.00000000000000000000000000000000"
                  date_created: "1567780450202"
                  date_updated: "1567780450202"
                  date_closed: null
                  creator:
                    id: 183
                    username: John Doe
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  assignees: []
                  checklists: []
                  parent: null
                  priority: null
                  due_date: null
                  start_date: null
                  time_estimate: null
                  time_spent: null
                  list:
                    id: 123X
                  folder:
                    id: 456X
                  space:
                    id: 789X
                  linked_tasks: []
                  url: https://app.clickup.com/t/9hx
              schema:
                $ref: '#/components/schemas/DeleteTaskLinkresponse'
              x-konfig-original-example:
                task:
                  tags: []
                  id: 9hvX
                  name: Task Name
                  status:
                    status: in progress
                    color: '#d3d3d3'
                    orderindex: 1
                    type: custom
                  orderindex: "1.00000000000000000000000000000000"
                  date_created: "1567780450202"
                  date_updated: "1567780450202"
                  creator:
                    id: 183
                    username: John Doe
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  assignees: []
                  checklists: []
                  list:
                    id: 123X
                  folder:
                    id: 456X
                  space:
                    id: 789X
                  linked_tasks: []
                  url: https://app.clickup.com/t/9hx
          description: ""
      summary: Delete Task Link
      tags:
      - Task Relationships
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--task-task_id-link-links_to
      x-accepts: application/json
    post:
      deprecated: false
      description: Link two tasks together.
      operationId: TaskRelationships_linkTasks
      parameters:
      - description: ""
        explode: false
        in: path
        name: task_id
        required: true
        schema:
          example: 9hv
          type: string
          x-examples:
          - 9hv
          x-konfig-original-example: 9hv
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-link-links_to-post-parameters-0-schema
        style: simple
      - description: ""
        explode: false
        in: path
        name: links_to
        required: true
        schema:
          example: 9hz
          type: string
          x-examples:
          - 9hz
          x-konfig-original-example: 9hz
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-link-links_to-post-parameters-1-schema
        style: simple
      - description: "If you want to reference a task by it's custom task id, this\
          \ value must be `true`."
        explode: true
        in: query
        name: custom_task_ids
        required: false
        schema:
          example: true
          type: boolean
          x-examples:
          - true
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-link-links_to-post-parameters-2-schema
        style: form
      - description: |-
          Only used when the `custom_task_ids` parameter is set to `true`.\
           \
          For example: `custom_task_ids=true&team_id=123`.
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          example: 123
          type: number
          x-examples:
          - 123
          x-konfig-original-example: 123
          x-konfig-generated-schema: konfig-generated-schema-paths--task-task_id-link-links_to-post-parameters-3-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                task:
                  tags: []
                  id: 9hv
                  name: Task Name
                  status:
                    status: in progress
                    color: '#d3d3d3'
                    orderindex: 1
                    type: custom
                  orderindex: "1.00000000000000000000000000000000"
                  date_created: "1567780450202"
                  date_updated: "1567780450202"
                  date_closed: null
                  creator:
                    id: 183
                    username: John Doe
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  assignees: []
                  checklists: []
                  parent: null
                  priority: null
                  due_date: null
                  start_date: null
                  time_estimate: null
                  time_spent: null
                  list:
                    id: "123"
                  folder:
                    id: "456"
                  space:
                    id: "789"
                  linked_tasks:
                  - task_id: 9hv
                    link_id: 9hz
                    date_created: "1587571108988"
                    userid: "183"
                  url: https://app.clickup.com/t/9hx
              schema:
                $ref: '#/components/schemas/AddTaskLinkresponse'
              x-konfig-original-example:
                task:
                  tags: []
                  id: 9hv
                  name: Task Name
                  status:
                    status: in progress
                    color: '#d3d3d3'
                    orderindex: 1
                    type: custom
                  orderindex: "1.00000000000000000000000000000000"
                  date_created: "1567780450202"
                  date_updated: "1567780450202"
                  creator:
                    id: 183
                    username: John Doe
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  assignees: []
                  checklists: []
                  list:
                    id: "123"
                  folder:
                    id: "456"
                  space:
                    id: "789"
                  linked_tasks:
                  - task_id: 9hv
                    link_id: 9hz
                    date_created: "1587571108988"
                    userid: "183"
                  url: https://app.clickup.com/t/9hx
          description: ""
      summary: Add Task Link
      tags:
      - Task Relationships
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--task-task_id-link-links_to
      x-accepts: application/json
  /space/{space_id}/folder:
    get:
      deprecated: false
      description: View the Folders in a Space.
      operationId: Folders_getContentsOf
      parameters:
      - description: ""
        explode: false
        in: path
        name: space_id
        required: true
        schema:
          example: 789
          type: number
          x-examples:
          - 789
          x-konfig-original-example: 789
          x-konfig-generated-schema: konfig-generated-schema-paths--space-space_id-folder-get-parameters-0-schema
        style: simple
      - description: ""
        explode: true
        in: query
        name: archived
        required: false
        schema:
          example: false
          type: boolean
          x-examples:
          - false
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--space-space_id-folder-get-parameters-1-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFoldersresponse'
          description: ""
      summary: Get Folders
      tags:
      - Folders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--space-space_id-folder
      x-accepts: application/json
    post:
      deprecated: false
      description: Add a new Folder to a Space.
      operationId: Folders_createNewFolder
      parameters:
      - description: ""
        explode: false
        in: path
        name: space_id
        required: true
        schema:
          example: 789
          type: number
          x-examples:
          - 789
          x-konfig-original-example: 789
          x-konfig-generated-schema: konfig-generated-schema-paths--space-space_id-folder-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: New Folder Name
            schema:
              $ref: '#/components/schemas/CreateFolderrequest'
            x-konfig-original-example:
              name: New Folder Name
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                id: 457X
                name: New Folder Name
                orderindex: 0
                override_statuses: false
                hidden: false
                space:
                  id: 789X
                  name: Space Name
                  access: true
                task_count: "0"
              schema:
                $ref: '#/components/schemas/CreateFolderresponse'
              x-konfig-original-example:
                id: 457X
                name: New Folder Name
                orderindex: 0
                override_statuses: false
                hidden: false
                space:
                  id: 789X
                  name: Space Name
                  access: true
                task_count: "0"
          description: ""
      summary: Create Folder
      tags:
      - Folders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--space-space_id-folder
      x-content-type: application/json
      x-accepts: application/json
  /folder/{folder_id}:
    delete:
      deprecated: false
      description: Delete a Folder from your Workspace.
      operationId: Folders_removeFolder
      parameters:
      - description: ""
        explode: false
        in: path
        name: folder_id
        required: true
        schema:
          example: 457
          type: number
          x-examples:
          - 457
          x-konfig-original-example: 457
          x-konfig-generated-schema: konfig-generated-schema-paths--folder-folder_id-delete-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              example: {}
              schema:
                $ref: '#/components/schemas/FoldersRemoveFolderResponse'
              x-konfig-original-example: {}
          description: ""
      summary: Delete Folder
      tags:
      - Folders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--folder-folder_id
      x-accepts: application/json
    get:
      deprecated: false
      description: View the Lists within a Folder.
      operationId: Folders_getFolderContent
      parameters:
      - description: ""
        explode: false
        in: path
        name: folder_id
        required: true
        schema:
          example: 457
          type: number
          x-examples:
          - 457
          x-konfig-original-example: 457
          x-konfig-generated-schema: konfig-generated-schema-paths--folder-folder_id-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: 457X
                name: Updated Folder Name
                orderindex: 0
                override_statuses: false
                hidden: false
                space:
                  id: 789X
                  name: Space Name
                  access: true
                task_count: "0"
                lists: []
              schema:
                $ref: '#/components/schemas/GetFolderresponse'
              x-konfig-original-example:
                id: 457X
                name: Updated Folder Name
                orderindex: 0
                override_statuses: false
                hidden: false
                space:
                  id: 789X
                  name: Space Name
                  access: true
                task_count: "0"
                lists: []
          description: ""
      summary: Get Folder
      tags:
      - Folders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--folder-folder_id
      x-accepts: application/json
    put:
      deprecated: false
      description: Rename a Folder.
      operationId: Folders_renameFolder
      parameters:
      - description: ""
        explode: false
        in: path
        name: folder_id
        required: true
        schema:
          example: 457
          type: number
          x-examples:
          - 457
          x-konfig-original-example: 457
          x-konfig-generated-schema: konfig-generated-schema-paths--folder-folder_id-put-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Updated Folder Name
            schema:
              $ref: '#/components/schemas/UpdateFolderrequest'
            x-konfig-original-example:
              name: Updated Folder Name
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                id: 457X
                name: Updated Folder Name
                orderindex: 0
                override_statuses: false
                hidden: false
                space:
                  id: 789X
                  name: Space Name
                  access: true
                task_count: "0"
              schema:
                $ref: '#/components/schemas/UpdateFolderresponse'
              x-konfig-original-example:
                id: 457X
                name: Updated Folder Name
                orderindex: 0
                override_statuses: false
                hidden: false
                space:
                  id: 789X
                  name: Space Name
                  access: true
                task_count: "0"
          description: ""
      summary: Update Folder
      tags:
      - Folders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--folder-folder_id
      x-content-type: application/json
      x-accepts: application/json
  /team/{team_id}/goal:
    get:
      deprecated: false
      description: View the Goals available in a Workspace.
      operationId: Goals_getWorkspaceGoals
      parameters:
      - description: Team ID (Workspace)
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          example: 123
          type: number
          x-examples:
          - 123
          x-konfig-original-example: 123
          x-konfig-generated-schema: konfig-generated-schema-paths--team-team_id-goal-get-parameters-0-schema
        style: simple
      - description: ""
        explode: true
        in: query
        name: include_completed
        required: false
        schema:
          example: true
          type: boolean
          x-examples:
          - true
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--team-team_id-goal-get-parameters-1-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                goals:
                - description: Updated Goal Description
                  id: e53a033c-900e-462d-a849-4a216b06d930
                  pretty_id: "6"
                  name: Goal ABC
                  team_id: "512"
                  creator: 182
                  owner: null
                  color: '#32a852'
                  date_created: "1568044355026"
                  start_date: null
                  due_date: "1568036964079"
                  private: false
                  archived: false
                  multiple_owners: true
                  editor_token: goal:792c3027-83a2-45de-be96-2f623b5f9078:1626303240249:38fd99e8-f989-4125-9a05-19ead0ed83a6:57bdc749-4ca6-4082-a78e-3485ed15e675
                  date_updated: "1626130440221"
                  last_update: "1626132992152"
                  folder_id: null
                  pinned: false
                  owners: []
                  key_result_count: 1
                  members:
                  - id: 182
                    username: Jane Doe
                    email: janedoe@gmail.com
                    color: '#827718'
                    permission_level: edit
                    profilePicture: https://attachments-public.clickup.com/profilePictures/profile.jpg
                    initials: JD
                    isCreator: true
                  group_members: []
                  percent_completed: 0
                folders:
                - id: 05921253-7737-44af-a1aa-36fd11244e6f
                  name: Quarterly Goals
                  team_id: "512"
                  private: true
                  date_created: "1548802674671"
                  creator: 182
                  goal_count: 1
                  members:
                  - id: 182
                    email: janedoe@gmail.com
                    username: Jane Doe
                    color: '#827718'
                    permission_level: read
                    date_added: 1631599941928
                    added_by: 183
                    initials: JD
                    profilePicture: https://attachments-public.clickup.com/profilePictures/profile.jpg
                  goals:
                  - description: Goal for Q1
                    id: e53a033c-900e-462d-a849-4a216b06d930X
                    pretty_id: "8"
                    name: Q1 Goals
                    team_id: "512"
                    creator: 182
                    owner: null
                    color: '#32a852'
                    date_created: "1568044355026"
                    start_date: null
                    due_date: "1568036964079"
                    private: false
                    archived: false
                    multiple_owners: true
                    editor_token: goal:792c3027-83b5-45de-be96-2f623b5f9078:1626303240249:38fd99e8-f989-4125-9a05-19ead0ed83a6:57bdc749-4ca6-4082-a78e-3485fc22d477
                    date_updated: "1626130440221"
                    last_update: "1626132992152"
                    folder_id: 05921253-7737-44af-a1aa-36fd11244e6f
                    folder_access: true
                    pinned: false
                    owners: []
                    key_result_count: 1
                    members:
                    - id: 182
                      username: Jane Doe
                      email: janedoe@gmail.com
                      color: '#827718'
                      permission_level: edit
                      profilePicture: https://attachments-public.clickup.com/profilePictures/profile.jpg
                      initials: JD
                      isCreator: true
                    group_members: []
                    percent_completed: 1
              schema:
                $ref: '#/components/schemas/GetGoalsresponse'
              x-konfig-original-example:
                goals:
                - description: Updated Goal Description
                  id: e53a033c-900e-462d-a849-4a216b06d930
                  pretty_id: "6"
                  name: Goal ABC
                  team_id: "512"
                  creator: 182
                  color: '#32a852'
                  date_created: "1568044355026"
                  due_date: "1568036964079"
                  private: false
                  archived: false
                  multiple_owners: true
                  editor_token: goal:792c3027-83a2-45de-be96-2f623b5f9078:1626303240249:38fd99e8-f989-4125-9a05-19ead0ed83a6:57bdc749-4ca6-4082-a78e-3485ed15e675
                  date_updated: "1626130440221"
                  last_update: "1626132992152"
                  pinned: false
                  owners: []
                  key_result_count: 1
                  members:
                  - id: 182
                    username: Jane Doe
                    email: janedoe@gmail.com
                    color: '#827718'
                    permission_level: edit
                    profilePicture: https://attachments-public.clickup.com/profilePictures/profile.jpg
                    initials: JD
                    isCreator: true
                  group_members: []
                  percent_completed: 0
                folders:
                - id: 05921253-7737-44af-a1aa-36fd11244e6f
                  name: Quarterly Goals
                  team_id: "512"
                  private: true
                  date_created: "1548802674671"
                  creator: 182
                  goal_count: 1
                  members:
                  - id: 182
                    email: janedoe@gmail.com
                    username: Jane Doe
                    color: '#827718'
                    permission_level: read
                    date_added: 1631599941928
                    added_by: 183
                    initials: JD
                    profilePicture: https://attachments-public.clickup.com/profilePictures/profile.jpg
                  goals:
                  - description: Goal for Q1
                    id: e53a033c-900e-462d-a849-4a216b06d930X
                    pretty_id: "8"
                    name: Q1 Goals
                    team_id: "512"
                    creator: 182
                    color: '#32a852'
                    date_created: "1568044355026"
                    due_date: "1568036964079"
                    private: false
                    archived: false
                    multiple_owners: true
                    editor_token: goal:792c3027-83b5-45de-be96-2f623b5f9078:1626303240249:38fd99e8-f989-4125-9a05-19ead0ed83a6:57bdc749-4ca6-4082-a78e-3485fc22d477
                    date_updated: "1626130440221"
                    last_update: "1626132992152"
                    folder_id: 05921253-7737-44af-a1aa-36fd11244e6f
                    folder_access: true
                    pinned: false
                    owners: []
                    key_result_count: 1
                    members:
                    - id: 182
                      username: Jane Doe
                      email: janedoe@gmail.com
                      color: '#827718'
                      permission_level: edit
                      profilePicture: https://attachments-public.clickup.com/profilePictures/profile.jpg
                      initials: JD
                      isCreator: true
                    group_members: []
                    percent_completed: 1
          description: ""
      summary: Get Goals
      tags:
      - Goals
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--team-team_id-goal
      x-accepts: application/json
    post:
      deprecated: false
      description: Add a new Goal to a Workspace.
      operationId: Goals_addNewGoalToWorkspace
      parameters:
      - description: Team ID (Workspace)
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          example: 123
          type: number
          x-examples:
          - 123
          x-konfig-original-example: 123
          x-konfig-generated-schema: konfig-generated-schema-paths--team-team_id-goal-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            example:
              description: Goal Description
              name: Goal Name
              due_date: 1568036964079
              multiple_owners: true
              owners:
              - 183
              color: '#32a852'
            schema:
              $ref: '#/components/schemas/CreateGoalrequest'
            x-konfig-original-example:
              description: Goal Description
              name: Goal Name
              due_date: 1568036964079
              multiple_owners: true
              owners:
              - 183
              color: '#32a852'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                goal:
                  description: Goal Description
                  id: e53a033c-900e-462d-a849-4a216b06d930X
                  name: Goal Name
                  team_id: "512"
                  date_created: "1568044355026"
                  start_date: null
                  due_date: "1568036964079"
                  private: false
                  archived: false
                  creator: 183
                  color: '#32a852'
                  pretty_id: "6"
                  multiple_owners: true
                  folder_id: null
                  members: []
                  owners:
                  - id: 183
                    username: John Doe
                    initials: JD
                    email: johndoe@gmail.com
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  key_results: []
                  percent_completed: 0
                  history: []
                  pretty_url: https://app.clickup.com/512/goals/6
              schema:
                $ref: '#/components/schemas/CreateGoalresponse'
              x-konfig-original-example:
                goal:
                  description: Goal Description
                  id: e53a033c-900e-462d-a849-4a216b06d930X
                  name: Goal Name
                  team_id: "512"
                  date_created: "1568044355026"
                  due_date: "1568036964079"
                  private: false
                  archived: false
                  creator: 183
                  color: '#32a852'
                  pretty_id: "6"
                  multiple_owners: true
                  members: []
                  owners:
                  - id: 183
                    username: John Doe
                    initials: JD
                    email: johndoe@gmail.com
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  key_results: []
                  percent_completed: 0
                  history: []
                  pretty_url: https://app.clickup.com/512/goals/6
          description: ""
      summary: Create Goal
      tags:
      - Goals
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--team-team_id-goal
      x-content-type: application/json
      x-accepts: application/json
  /goal/{goal_id}:
    delete:
      deprecated: false
      description: Remove a Goal from your Workspace.
      operationId: Goals_removeGoal
      parameters:
      - description: 900e-462d-a849-4a216b06d930 (uuid)
        explode: false
        in: path
        name: goal_id
        required: true
        schema:
          example: e53a033c
          type: string
          x-examples:
          - e53a033c
          x-konfig-original-example: e53a033c
          x-konfig-generated-schema: konfig-generated-schema-paths--goal-goal_id-delete-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              example: {}
              schema:
                $ref: '#/components/schemas/GoalsRemoveGoalResponse'
              x-konfig-original-example: {}
          description: ""
      summary: Delete Goal
      tags:
      - Goals
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--goal-goal_id
      x-accepts: application/json
    get:
      deprecated: false
      description: View the details of a Goal including its Targets.
      operationId: Goals_getDetails
      parameters:
      - description: 900e-462d-a849-4a216b06d930 (uuid)
        explode: false
        in: path
        name: goal_id
        required: true
        schema:
          example: e53a033c
          type: string
          x-examples:
          - e53a033c
          x-konfig-original-example: e53a033c
          x-konfig-generated-schema: konfig-generated-schema-paths--goal-goal_id-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                goal:
                  description: Updated Goal Description
                  id: e53a033c-900e-462d-a849-4a216b06d930X
                  name: Updated Goal Name
                  team_id: "512"
                  date_created: "1568044355026"
                  start_date: null
                  due_date: "1568036964079"
                  private: false
                  archived: false
                  creator: 183
                  color: '#32a852'
                  pretty_id: "6"
                  multiple_owners: true
                  folder_id: null
                  members: []
                  owners:
                  - id: 182
                    username: Jane Doe
                    initials: JD
                    email: janedoe@gmail.com
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/182_abc.jpg
                  key_results: []
                  percent_completed: 0
                  history: []
                  pretty_url: https://app.clickup.com/512/goals/6
              schema:
                $ref: '#/components/schemas/GetGoalresponse'
              x-konfig-original-example:
                goal:
                  description: Updated Goal Description
                  id: e53a033c-900e-462d-a849-4a216b06d930X
                  name: Updated Goal Name
                  team_id: "512"
                  date_created: "1568044355026"
                  due_date: "1568036964079"
                  private: false
                  archived: false
                  creator: 183
                  color: '#32a852'
                  pretty_id: "6"
                  multiple_owners: true
                  members: []
                  owners:
                  - id: 182
                    username: Jane Doe
                    initials: JD
                    email: janedoe@gmail.com
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/182_abc.jpg
                  key_results: []
                  percent_completed: 0
                  history: []
                  pretty_url: https://app.clickup.com/512/goals/6
          description: ""
      summary: Get Goal
      tags:
      - Goals
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--goal-goal_id
      x-accepts: application/json
    put:
      deprecated: false
      description: "Rename a Goal, set the due date, replace the description, add\
        \ or remove owners, and set the Goal color."
      operationId: Goals_updateGoalDetails
      parameters:
      - description: 900e-462d-a849-4a216b06d930 (uuid)
        explode: false
        in: path
        name: goal_id
        required: true
        schema:
          example: e53a033c
          type: string
          x-examples:
          - e53a033c
          x-konfig-original-example: e53a033c
          x-konfig-generated-schema: konfig-generated-schema-paths--goal-goal_id-put-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            example:
              description: Updated Goal Description
              name: Updated Goal Name
              due_date: 1568036964079
              rem_owners:
              - 183
              add_owners:
              - 184
              color: '#32a852'
            schema:
              $ref: '#/components/schemas/UpdateGoalrequest'
            x-konfig-original-example:
              description: Updated Goal Description
              name: Updated Goal Name
              due_date: 1568036964079
              rem_owners:
              - 183
              add_owners:
              - 184
              color: '#32a852'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                goal:
                  description: Updated Goal Description
                  id: e53a033c-900e-462d-a849-4a216b06d930X
                  name: Updated Goal Name
                  team_id: "512"
                  date_created: "1568044355026"
                  start_date: null
                  due_date: "1568036964079"
                  private: false
                  archived: false
                  creator: 183
                  color: '#32a852'
                  pretty_id: "6"
                  multiple_owners: true
                  folder_id: null
                  members: []
                  owners:
                  - id: 182
                    username: Jane Doe
                    initials: JD
                    email: janedoe@gmail.com
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/182_abc.jpg
                  key_results: []
                  percent_completed: 0
                  history: []
                  pretty_url: https://app.clickup.com/512/goals/6
              schema:
                $ref: '#/components/schemas/UpdateGoalresponse'
              x-konfig-original-example:
                goal:
                  description: Updated Goal Description
                  id: e53a033c-900e-462d-a849-4a216b06d930X
                  name: Updated Goal Name
                  team_id: "512"
                  date_created: "1568044355026"
                  due_date: "1568036964079"
                  private: false
                  archived: false
                  creator: 183
                  color: '#32a852'
                  pretty_id: "6"
                  multiple_owners: true
                  members: []
                  owners:
                  - id: 182
                    username: Jane Doe
                    initials: JD
                    email: janedoe@gmail.com
                    color: '#827718'
                    profilePicture: https://attachments-public.clickup.com/profilePictures/182_abc.jpg
                  key_results: []
                  percent_completed: 0
                  history: []
                  pretty_url: https://app.clickup.com/512/goals/6
          description: ""
      summary: Update Goal
      tags:
      - Goals
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--goal-goal_id
      x-content-type: application/json
      x-accepts: application/json
  /goal/{goal_id}/key_result:
    post:
      deprecated: false
      description: Add a Target to a Goal.
[...]
